<h1>Appointment #<%= @appointment.id %></h1>

<p>
  <b>Time:</b>
  <%= @appointment.time %>
</p>

<p>
  <b>Category:</b>
  <%= @appointment.category %>
</p>

<p>
  <b>Category:</b>
  <%= @appointment.category %>
</p>

<p>
  <b>Patient:</b>
  <%= @appointment.patient_id %>
</p>

<p>
  <b>Doctor:</b>
  <%= @appointment.doctor_id %>
</p>


