<h1>New Patient</h1>


<%= form_tag(patients_url, method: 'post') do %>


  <div>
    <%= label_tag :name %><br />
    <%= text_field_tag :name %>
  </div>

  <div>
    <%= label_tag :gender %><br />
    <%= text_field_tag :gender %>
  </div>

  <div>
    <%= label_tag :age %><br />
    <%= text_field_tag :age %>
  </div>

  <div>
    <%= label_tag :health %><br />
    <%= text_field_tag :health %>
  </div>

  <div>
    <%= label_tag :location %><br />
    <%= text_field_tag :location %>
  </div>

 <!--  <div>
    <%= label_tag :insurance_id %><br />
    <%= text_field_tag :insurance_id %>
  </div> -->
  <div>
    <%= label_tag :insurance_id %><br/>
    <%= select_tag :insurance_id, options_from_collection_for_select(Insurance.all, :id, :name) %>
  </div>

  <div>
    <%= submit_tag "Create Patient" %>
  </div>
<% end %>
