<h1>Patient #<%= @patient.id %></h1>

<p>
  <b>Name:</b>
  <%= @patient.name %>
</p>

<p>
  <b>Gender:</b>
  <%= @patient.gender %>
</p>

<p>
  <b>Age:</b>
  <%= @patient.age %>
</p>

<p>
  <b>Health:</b>
  <%= @patient.health %>
</p>

<p>
  <b>Location:</b>
  <%= @patient.location %>
</p>

<p>
  <b>Insurance:</b>
  <%= @patient.insurance_id %>
</p>


